@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #10101a;
  scroll-behavior: smooth;
}

/* rgb(17, 34, 64) */
/* rgb(90, 138, 62) */
:root {
  --primary-color: rgb(67, 13, 121);
  --hover-color: rgba(67, 13, 121, 0.103);
  --secondary-color: rgb(116, 12, 220);
  --darkblue-color: rgb(3, 218, 198);
  --title-color: rgb(225, 226, 225);
  --small-text-color: rgb(156 163 175);
  --small-bg-color: rgba(55, 79, 107, 0.315);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.skillbg {
  border: 1px solid rgba(215, 209, 255, 0.15);
  background-color: hsla(0, 0%, 100%, 0.1);
}
.banner {
  background-image: url("../assets/images/maxresdefault.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-gradient {
  background: #ddffc9;
  background: linear-gradient(to right, #ddffc9 0%, #503d97 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #9796f0, #1e5155);
}
.border-gradient2 {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #acb6e5, #86fde8);
}
.btn-bg {
  background: linear-gradient(to left, #9796f0, #1e5155);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #10101a;
  }
}
